<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <footer id = "footer">
            <div id = "music_playlist"></div>
            <div id = "copyright_and_links">
                &copy; Copyright TuneWhale.com 2014
                <ul>
                    <li><a href = "#" id = "contactus">Contact Us</a></li>
                    <li><a href = "#">FAQ</a></li>
                </ul>
            </div>
            <div id = "social_network"></div>
        </footer>
    </body>
</html>